#!/bin/bash

#
if [ -z "$LOGSTASH_SERVER" ]; then
  echo "No logstash server defined - skipping" > /var/log/logstash-forwarder
  chmod 000 /etc/service/logstash/run
  exit 1
fi

# Setup LOGSTASH config file
if [ ! -f "/etc/logstash-conf.sh" ]; then
  echo "No logstash-forwarder config - skipping" > /var/log/logstash-forwarder
  chmod 000 /etc/service/logstash/run
  exit 1
fi

# Run Config script
bash /etc/logstash-conf.sh > /etc/logstash/conf.d/forward.conf
exec /etc/init.d/logstash start

